.form{
    width:100%;
    display:flex;
    justify-content: center;
    padding-top:20px;
    background-size: cover;
    height:500px;
}

.formContainer{
    background-color: rgb(255, 170, 0);
    border-radius:5px;
    width:300px;
    padding:30px;
    height:300px;
}
